name: voiceline
description: A voice recording and transcription app
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  cupertino_icons: ^1.0.6
  provider: ^6.1.1
  record: ^6.1.2
  path_provider: ^2.1.1
  permission_handler: ^11.2.0
  flutter_secure_storage: ^9.0.0
  dio: ^5.4.0
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true

